.footer {
    color: white;
    text-align: center;
    margin: 0 0 30px 0;
}

.footer .footer-top {
    background-size: contain;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    padding: 30px 0;
}