.movieModal {
    position: absolute;
    content: '';
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    z-index: 1500;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.movieModal iframe {
    max-width: 720px;
    max-height: 400px;
}

.movieModal .modalClose {
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.8rem;
}

.movieModal.active {
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(50px);
}