.banner .trailer {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    z-index: 10000;
}

.banner .trailer.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    font-weight: bolder;
}

.banner .trailer.activeModal {
    visibility: hidden;
    opacity: 0;
}

p {
    color: #ffffff;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-bottom: 0;
}
.banner .playBtn {
    position: relative;
    color: #ffffff;
    width: 50px;
    height: 50px;
    transition: 1s;
    z-index: 1000;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
}

.banner .playBtn ion-icon {
    font-size: 2.75rem;
    color: #ffffff;
    cursor: pointer;
}

.banner .playBtn::before {
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    content: '';
    border: 3px solid #ffffff;
    border-radius: 50%;
    animation: button 1s linear infinite;
}
