@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary: #af9cae;
}

body {
  background: #000000;
  font-family: 'Montserrat', sans-serif;
  zoom: 100%;
}

body::--webkit-scrollbar {
  display: none;
}